In [43]:
%pylab inline
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

# 金融和经济数据应用
## 数据规整化方面的话题

### 时间序列以及截面对齐
“数据对齐”（data alignment）：两个相关的时间序列的索引可能没有很好的对齐，或两个DF对象可能含有不匹配的列或行。  
MATLAB/R要花费大量的精力将数据规整化为完全对齐的形式，pandas可以在算术运算中自动对齐数据。

In [44]:
df = pd.read_csv('old-file/ch11/stock_px.csv', parse_dates=[0], index_col=[0])
df[:10]

              AA  AAPL    GE    IBM   JNJ  MSFT   PEP     SPX   XOM
1990-02-01  4.98  7.86  2.87  16.79  4.27  0.51  6.04  328.79  6.12
1990-02-02  5.04  8.00  2.87  16.89  4.37  0.51  6.09  330.92  6.24
1990-02-05  5.07  8.18  2.87  17.32  4.34  0.51  6.05  331.85  6.25
1990-02-06  5.01  8.12  2.88  17.56  4.32  0.51  6.15  329.66  6.23
1990-02-07  5.04  7.77  2.91  17.93  4.38  0.51  6.17  333.75  6.33
1990-02-08  5.04  7.71  2.92  17.86  4.46  0.51  6.22  332.96  6.35
1990-02-09  5.06  8.00  2.94  17.82  4.49  0.52  6.24  333.62  6.37
1990-02-12  4.96  7.94  2.89  17.58  4.46  0.52  6.23  330.08  6.22
1990-02-13  4.91  8.06  2.88  17.95  4.43  0.52  6.09  331.02  6.23
1990-02-14  4.94  8.00  2.89  18.04  4.47  0.52  6.10  332.01  6.20

In [45]:
prices = df[['AAPL', 'JNJ', 'SPX', 'XOM']]
prices.head()

            AAPL   JNJ     SPX   XOM
1990-02-01  7.86  4.27  328.79  6.12
1990-02-02  8.00  4.37  330.92  6.24
1990-02-05  8.18  4.34  331.85  6.25
1990-02-06  8.12  4.32  329.66  6.23
1990-02-07  7.77  4.38  333.75  6.33

In [46]:
df = pd.read_csv('old-file/ch11/volume.csv', parse_dates=[0], index_col=[0])
volume = df[['AAPL', 'JNJ', 'XOM']]
volume.head()

                  AAPL        JNJ        XOM
1990-02-01   4193200.0  5942400.0  2916400.0
1990-02-02   4248800.0  4732800.0  4250000.0
1990-02-05   3653200.0  3950400.0  5880800.0
1990-02-06   2640000.0  3761600.0  4750800.0
1990-02-07  11180800.0  5458400.0  4124800.0

In [47]:
prices * volume

                    AAPL           JNJ  SPX           XOM
1990-02-01  3.295855e+07  2.537405e+07  NaN  1.784837e+07
1990-02-02  3.399040e+07  2.068234e+07  NaN  2.652000e+07
1990-02-05  2.988318e+07  1.714474e+07  NaN  3.675500e+07
1990-02-06  2.143680e+07  1.625011e+07  NaN  2.959748e+07
1990-02-07  8.687482e+07  2.390779e+07  NaN  2.610998e+07
1990-02-08  5.150280e+07  3.866642e+07  NaN  3.588512e+07
1990-02-09  4.803520e+07  1.471642e+07  NaN  2.156118e+07
1990-02-12  2.140306e+07  1.143901e+07  NaN  1.678156e+07
1990-02-13  2.944802e+07  1.610394e+07  NaN  2.220870e+07
1990-02-14  2.758400e+07  1.656761e+07  NaN  1.754600e+07
1990-02-15  2.807360e+07  1.508006e+07  NaN  2.594816e+07
1990-02-16  3.604112e+07  2.542894e+07  NaN  4.528735e+07
1990-02-20  3.455884e+07  2.137403e+07  NaN  2.540250e+07
1990-02-21  5.008029e+07  2.468100e+07  NaN  2.677290e+07
1990-02-22  5.393066e+07  1.555866e+07  NaN  3.114727e+07
1990-02-23  4.187592e+07  3.526320e+07  NaN  2.512880e+07
1990-02-26  2.267306e+07  1.806000e+07  NaN  2.995174e+07
1990-02-27  2.073970e+07  2.074320e+07  NaN  2.935310e+07
1990-02-28  3.123284e+07  2.641075e+07  NaN  6.218104e+07
1990-03-01  5.848410e+07  1.323096e+07  NaN  3.444570e+07
1990-03-02  2.975109e+07  1.937150e+07  NaN  3.481114e+07
1990-03-05  5.282381e+07  1.991299e+07  NaN  2.765984e+07
1990-03-06  4.608089e+07  1.841588e+07  NaN  3.194343e+07
1990-03-07  6.052695e+07  1.414388e+07  NaN  2.947304e+07
1990-03-08  6.899710e+07  1.510920e+07  NaN  1.986740e+07
1990-03-09  7.126963e+07  1.394893e+07  NaN  2.393654e+07
1990-03-12  5.031655e+07  1.298038e+07  NaN  1.751954e+07
1990-03-13  4.597517e+07  1.425778e+07  NaN  3.369274e+07
1990-03-14  3.168712e+07  1.883626e+07  NaN  3.587276e+07
1990-03-15  3.704022e+07  3.770622e+07  NaN  1.847326e+07
...                  ...           ...  ...           ...
2011-09-02  5.863757e+09  8.786304e+08  NaN  1.520120e+09
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13  6.051726e+09  7.375770e+08  NaN  1.635440e+09
2011-09-14  7.429635e+09  8.558620e+08  NaN  1.891749e+09
2011-09-15  5.850310e+09  6.843015e+08  NaN  1.617733e+09
2011-09-16  9.978658e+09  1.013340e+09  NaN  2.583351e+09
2011-09-19  1.209196e+10  5.497953e+08  NaN  1.460918e+09
2011-09-20  1.144839e+10  6.983797e+08  NaN  1.511284e+09
2011-09-21  8.907293e+09  6.339073e+08  NaN  1.713332e+09
2011-09-22  1.388794e+10  1.204771e+09  NaN  2.992761e+09
2011-09-23  7.887853e+09  6.764861e+08  NaN  1.842482e+09
2011-09-26  1.169818e+10  6.621130e+08  NaN  2.176157e+09
2011-09-27  9.009941e+09  8.372035e+08  NaN  1.945961e+09
2011-09-28  6.091801e+09  5.669856e+08  NaN  1.875730e+09
2011-09-29  9.081963e+09  5.701989e+08  NaN  2.047503e+09
2011-09-30  7.458085e+09  9.270780e+08  NaN  2.245502e+09
2011-10-03  8.944062e+09  1.048599e+09  NaN  2.205949e+09
2011-10-04  1.640334e+10  1.130997e+09  NaN  2.654981e+09
2011-10-05  1.061963e+10  9.605142e+08  NaN  2.088333e+09
2011-10-06  1.094701e+10  6.026871e+08  NaN  1.837630e+09
2011-10-07  7.071870e+09  7.803878e+08  NaN  1.734096e+09
2011-10-10  6.131223e+09  4.577107e+08  NaN  1.560361e+09
2011-10-11  8.650187e+09  4.879317e+08  NaN  1.362342e+09
2011-10-12  8.931272e+09  6.031002e+08  NaN  1.715961e+09
2011-10-13  6.199110e+09  4.997801e+08  NaN  1.492293e+09
2011-10-14  8.629900e+09  4.322519e+08  NaN  1.395873e+09

[5472 rows x 4 columns]

In [48]:
# 成交量加权平均价格
vwap = (prices * volume).sum() / volume.sum()
vwap

AAPL    81.246271
JNJ     40.576111
SPX           NaN
XOM     50.520303
dtype: float64

In [49]:
vwap.dropna()

AAPL    81.246271
JNJ     40.576111
XOM     50.520303
dtype: float64

In [50]:
# 显式丢弃，使用DF的align方法，返回一个元组，包含两个对象的重索引版本：
prices.align(volume, join='inner')

(              AAPL    JNJ    XOM
 1990-02-01    7.86   4.27   6.12
 1990-02-02    8.00   4.37   6.24
 1990-02-05    8.18   4.34   6.25
 1990-02-06    8.12   4.32   6.23
 1990-02-07    7.77   4.38   6.33
 1990-02-08    7.71   4.46   6.35
 1990-02-09    8.00   4.49   6.37
 1990-02-12    7.94   4.46   6.22
 1990-02-13    8.06   4.43   6.23
 1990-02-14    8.00   4.47   6.20
 1990-02-15    8.00   4.54   6.40
 1990-02-16    7.91   4.47   6.33
 1990-02-20    7.85   4.39   6.25
 1990-02-21    7.97   4.33   6.28
 1990-02-22    7.73   4.28   6.22
 1990-02-23    7.79   4.20   6.22
 1990-02-26    7.97   4.30   6.37
 1990-02-27    7.85   4.30   6.38
 1990-02-28    7.97   4.32   6.20
 1990-03-01    8.03   4.35   6.13
 1990-03-02    7.91   4.43   6.17
 1990-03-05    8.08   4.36   6.10
 1990-03-06    8.26   4.45   6.22
 1990-03-07    8.29   4.45   6.13
 1990-03-08    8.61   4.50   6.17
 1990-03-09    8.64   4.48   6.12
 1990-03-12    8.58   4.46   6.13
 1990-03-13    8.64   4.38   6.02
 1990-03-14    8.67   4.44   6.13
 1990-03-15    8.61   4.58   6.18
 ...            ...    ...    ...
 2011-09-02  374.05  64.07  72.14
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84
 2011-09-13  384.62  63.61  71.65
 2011-09-14  389.30  63.73  72.64
 2011-09-15  392.96  64.40  74.01
 2011-09-16  400.50  64.59  74.55
 2011-09-19  411.63  64.14  73.70
 2011-09-20  413.45  64.22  74.01
 2011-09-21  412.14  63.13  71.97
 2011-09-22  401.82  61.92  69.24
 2011-09-23  404.30  61.59  69.31
 2011-09-26  403.17  62.69  71.72
 2011-09-27  399.26  63.82  72.91
 2011-09-28  397.01  63.25  72.07
 2011-09-29  390.57  63.90  73.88
 2011-09-30  381.32  63.69  72.63
 2011-10-03  374.60  62.08  71.15
 2011-10-04  372.50  62.17  72.83
 2011-10-05  378.25  62.35  73.95
 2011-10-06  377.37  62.81  73.89
 2011-10-07  369.80  63.13  73.56
 2011-10-10  388.81  64.43  76.28
 2011-10-11  400.29  63.96  76.27
 2011-10-12  402.19  64.33  77.16
 2011-10-13  408.43  64.23  76.37
 2011-10-14  422.00  64.72  78.11

 [5472 rows x 3 columns],                   AAPL         JNJ         XOM
 1990-02-01   4193200.0   5942400.0   2916400.0
 1990-02-02   4248800.0   4732800.0   4250000.0
 1990-02-05   3653200.0   3950400.0   5880800.0
 1990-02-06   2640000.0   3761600.0   4750800.0
 1990-02-07  11180800.0   5458400.0   4124800.0
 1990-02-08   6680000.0   8669600.0   5651200.0
 1990-02-09   6004400.0   3277600.0   3384800.0
 1990-02-12   2695600.0   2564800.0   2698000.0
 1990-02-13   3653600.0   3635200.0   3564800.0
 1990-02-14   3448000.0   3706400.0   2830000.0
 1990-02-15   3509200.0   3321600.0   4054400.0
 1990-02-16   4556400.0   5688800.0   7154400.0
 1990-02-20   4402400.0   4868800.0   4064400.0
 1990-02-21   6283600.0   5700000.0   4263200.0
 1990-02-22   6976800.0   3635200.0   5007600.0
 1990-02-23   5375600.0   8396000.0   4040000.0
 1990-02-26   2844800.0   4200000.0   4702000.0
 1990-02-27   2642000.0   4824000.0   4600800.0
 1990-02-28   3918800.0   6113600.0  10029200.0
 1990-03-01   7283200.0   3041600.0   5619200.0
 1990-03-02   3761200.0   4372800.0   5642000.0
 1990-03-05   6537600.0   4567200.0   4534400.0
 1990-03-06   5578800.0   4138400.0   5135600.0
 1990-03-07   7301200.0   3178400.0   4808000.0
 1990-03-08   8013600.0   3357600.0   3220000.0
 1990-03-09   8248800.0   3113600.0   3911200.0
 1990-03-12   5864400.0   2910400.0   2858000.0
 1990-03-13   5321200.0   3255200.0   5596800.0
 1990-03-14   3654800.0   4242400.0   5852000.0
 1990-03-15   4302000.0   8232800.0   2989200.0
 ...                ...         ...         ...
 2011-09-02  15676400.0  13713600.0  21071800.0
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0
 2011-09-13  15734300.0  11595300.0  22825400.0
 2011-09-14  19084600.0  13429500.0  26042800.0
 2011-09-15  14887800.0  10625800.0  21858300.0
 2011-09-16  24915500.0  15688800.0  34652600.0
 2011-09-19  29375800.0   8571800.0  19822500.0
 2011-09-20  27689900.0  10874800.0  20420000.0
 2011-09-21  21612300.0  10041300.0  23806200.0
 2011-09-22  34562600.0  19456900.0  43223000.0
 2011-09-23  19509900.0  10983700.0  26583200.0
 2011-09-26  29015500.0  10561700.0  30342400.0
 2011-09-27  22566600.0  13118200.0  26689900.0
 2011-09-28  15344200.0   8964200.0  26026500.0
 2011-09-29  23253100.0   8923300.0  27713900.0
 2011-09-30  19558600.0  14556100.0  30917000.0
 2011-10-03  23876300.0  16891100.0  31004200.0
 2011-10-04  44035800.0  18192000.0  36454500.0
 2011-10-05  28075700.0  15405200.0  28239800.0
 2011-10-06  29008700.0   9595400.0  24869800.0
 2011-10-07  19123500.0  12361600.0  23573900.0
 2011-10-10  15769200.0   7104000.0  20455700.0
 2011-10-11  21609800.0   7628700.0  17862100.0
 2011-10-12  22206600.0   9375100.0  22239000.0
 2011-10-13  15177900.0   7781100.0  19540300.0
 2011-10-14  20450000.0   6678800.0  17870600.0

 [5472 rows x 3 columns])

In [51]:
# 通过一组索引可能不同的Series构建一个DF
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d','b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])

DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [52]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

### 频率不同的时间序列的运算
频率转换和重对齐的两大主要工具是resample和reindex方法。  
resample用于将数据转换到固定频率，而reindex则用于使数据符合一个新索引。  
它们都支持插值（如前向填充）逻辑。

In [53]:
ts1 = Series(np.random.randn(3),
            index=pd.date_range('2012-6-12', periods=3, freq='W-WED'))
ts1

2012-06-13   -0.512860
2012-06-20    2.356966
2012-06-27   -0.532520
Freq: W-WED, dtype: float64

In [54]:
# 重采样到工作日频率，没有数据的日子会出现空
ts1.resample('B').mean()

2012-06-13   -0.512860
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20    2.356966
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27   -0.532520
Freq: B, dtype: float64

In [55]:
ts1.resample('B').ffill()

2012-06-13   -0.512860
2012-06-14   -0.512860
2012-06-15   -0.512860
2012-06-18   -0.512860
2012-06-19   -0.512860
2012-06-20    2.356966
2012-06-21    2.356966
2012-06-22    2.356966
2012-06-25    2.356966
2012-06-26    2.356966
2012-06-27   -0.532520
Freq: B, dtype: float64

In [56]:
# 不规整频率
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                         '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12    0.344643
2012-06-17    1.844415
2012-06-18   -1.036623
2012-06-21   -0.516821
2012-06-22   -0.337424
2012-06-29    0.866701
dtype: float64

In [57]:
# 将ts1种的值加到ts2上，在维持ts2种的日期索引的情况下，用reindex解决
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -0.512860
2012-06-18   -0.512860
2012-06-21    2.356966
2012-06-22    2.356966
2012-06-29   -0.532520
dtype: float64

In [58]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    1.331555
2012-06-18   -1.549483
2012-06-21    1.840145
2012-06-22    2.019542
2012-06-29    0.334181
dtype: float64

### 使用Period
提供了另一种处理不同频率时间序列的办法，尤其那些有着**特殊规范**的以年或季度为频率的金融或经济序列。  
一个公司可能会发布以6月份结尾的财年的每季度盈利报告，频率为Q-JUN。来看两个有关GDP和通货膨胀的宏观经济时间序列：

In [59]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
            index=pd.period_range('1984Q2', periods=7, freq='Q-SEP')) # 以SEP为结束的季度
infl = Series([0.025, 0.045, 0.037, 0.04],
             index=pd.period_range('1982', periods=4, freq='A-DEC')) # 以DEC为结束的年

In [60]:
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [61]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [62]:
infl_q = infl.asfreq('Q-SEP', how='end')

In [63]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [64]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

### 时间和“最当前”数据选取