# Lecture14-Series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000],
                index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
ww2_cas['USA']

400000

In [7]:
# check which contries had cas greater than 4mill
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
# into dict
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [10]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [11]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [12]:
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [13]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [14]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [15]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [16]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [17]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [18]:
obj2.name = "World War 2 Casualties"

In [19]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [20]:
obj2.index.name = 'Countries'

In [21]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

# Lecture 15 DataFrame

In [22]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [23]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [72]:
nfl_frame = pd.read_clipboard()

In [73]:
nfl_frame # copy from the right-bottom corner to the left-top

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [74]:
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied ', u'Pct. ',
       u'First NFL Season ', u'Total Games ', u'Division'],
      dtype='object')

In [76]:
nfl_frame['First NFL Season ']

0    1920
1    1960
2    1921
3    1966
4    1960
5    1950
Name: First NFL Season , dtype: int64

In [78]:
DataFrame(nfl_frame, columns=['Team ', 'First NFL Season ', 'Total Games ', 'Stadium'])

                   Team   First NFL Season  Total Games   Stadium
0         Chicago Bears                1920       1,338       NaN
1        Dallas Cowboys                1960         850       NaN
2     Green Bay Packers                1921       1,304       NaN
3        Miami Dolphins                1966         768       NaN
4  New England Patriots                1960         852       NaN
5   San Francisco 49ers                1950         970       NaN

In [79]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [83]:
nfl_frame.head(3) # default num 5

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North

In [82]:
nfl_frame.tail(1)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [84]:
nfl_frame.ix[3]

Rank                               4
Team                 Miami Dolphins
Won                              429
Lost                             335
Tied                               4
Pct.                           0.561
First NFL Season                1966
Total Games                     768
Division                    AFC East
Name: 3, dtype: object

In [85]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [86]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium

In [87]:
nfl_frame['Stadium'] = np.arange(6)

In [88]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5

In [89]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[5, 0])

In [90]:
stadiums

5    Levi's Stadium
0      AT&T Stadium
dtype: object

In [91]:
nfl_frame['Stadium'] = stadiums

In [92]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,NaN
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium

In [93]:
del nfl_frame['Stadium']

In [94]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [95]:
data = {'City': ['SF', 'LA', 'NYC'],
       'Population': [837900,3880000,8400000]}

In [96]:
city_frame = DataFrame(data)

In [97]:
city_frame

  City  Population
0   SF      837900
1   LA     3880000
2  NYC     8400000

In [98]:
website = 'http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame'
webbrowser.open_new_tab(website)

True

# Lecture 16 - Index Objects

In [99]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [100]:
my_ser = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [101]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [102]:
my_index = my_ser.index
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [104]:
my_index[0]

'A'

In [105]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [106]:
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

# Lecture 17 - Reindex

In [107]:
from numpy.random import randn

In [108]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [109]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [110]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [111]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [112]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [113]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [114]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [116]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [117]:
ser3.reindex(ranger, method='ffill') # fowards fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [118]:
ser3.reindex(ranger, method='bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [120]:
df = DataFrame(randn(25).reshape((5, 5)), index=['A', 'B', 'D', 'E', 'F'],
              columns=['col1', 'col2', 'col3', 'col4', 'col5'])
df

       col1      col2      col3      col4      col5
A  0.108380 -1.266024 -0.087040 -0.591393  1.218770
B -0.037208  2.103485 -0.222395  1.048631  1.808489
D -1.461364 -1.042500 -0.667585  0.620113  0.228741
E -0.885897 -1.561634 -0.080084  1.760127  0.182806
F  1.082285 -1.968085  1.460313  1.528392 -0.520019

In [121]:
df2 = df.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
df2

       col1      col2      col3      col4      col5
A  0.108380 -1.266024 -0.087040 -0.591393  1.218770
B -0.037208  2.103485 -0.222395  1.048631  1.808489
C       NaN       NaN       NaN       NaN       NaN
D -1.461364 -1.042500 -0.667585  0.620113  0.228741
E -0.885897 -1.561634 -0.080084  1.760127  0.182806
F  1.082285 -1.968085  1.460313  1.528392 -0.520019

In [122]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [124]:
df2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.108380 -1.266024 -0.087040 -0.591393  1.218770   NaN
B -0.037208  2.103485 -0.222395  1.048631  1.808489   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.461364 -1.042500 -0.667585  0.620113  0.228741   NaN
E -0.885897 -1.561634 -0.080084  1.760127  0.182806   NaN
F  1.082285 -1.968085  1.460313  1.528392 -0.520019   NaN

In [125]:
df

       col1      col2      col3      col4      col5
A  0.108380 -1.266024 -0.087040 -0.591393  1.218770
B -0.037208  2.103485 -0.222395  1.048631  1.808489
D -1.461364 -1.042500 -0.667585  0.620113  0.228741
E -0.885897 -1.561634 -0.080084  1.760127  0.182806
F  1.082285 -1.968085  1.460313  1.528392 -0.520019

In [126]:
df.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A  0.108380 -1.266024 -0.087040 -0.591393  1.218770   NaN
B -0.037208  2.103485 -0.222395  1.048631  1.808489   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.461364 -1.042500 -0.667585  0.620113  0.228741   NaN
E -0.885897 -1.561634 -0.080084  1.760127  0.182806   NaN
F  1.082285 -1.968085  1.460313  1.528392 -0.520019   NaN

# Lecture 18 - Drop Entry